{% extends "layouts/sub-navigation.njk" %}
{% block header %}
  {{ nhsukHeader({
    service: {
      text: options.header.service.text
    }
  }) }}
{% endblock %}
{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item">
        <a class="nhsuk-breadcrumb__link" href="/national-reporting/">Home</a>
      </li>
    </ol>
    <a class="nhsuk-back-link" href="/national-reporting/">
      <span class="nhsuk-u-visually-hidden">Back to&nbsp;</span>National reporting user guide</a>
  </nav>
{% endblock %}
{% block footer %}
  {{ nhsukFooter() }}
{% endblock %}
