@use "pkg:nhsuk-frontend/packages/core" as * with (
  $nhsuk-page-width: 1100px
);

// Extra NHS.UK Frontend components used by this app
@forward "pkg:nhsuk-frontend/packages/components/action-link";

// NHS.UK Eleventy Plugin components
@forward "pkg:@x-govuk/nhsuk-eleventy-plugin";

// App-specific components
@forward "../_includes/attachment";

// App-specific prose styles
.app-prose-scope {
  .nhsuk-image {
    width: 100%;
  }

  .nhsuk-image__img {
    padding: nhsuk-spacing(2);
  }
}

// Email template
.app-email {
  background-color: $color_nhsuk-white;
  border: 1px solid $nhsuk-border-color;
  font-family: Helvetica, Arial, sans-serif;

  @include nhsuk-responsive-padding(7);

  &__header {
    border-bottom: 1px solid $nhsuk-border-color;
    margin-bottom: nhsuk-spacing(4);
    padding-bottom: nhsuk-spacing(3);

    @include nhsuk-font($size: 16);
  }

  &__subject {
    @include nhsuk-font($size: 19, $weight: bold);
  }

  .nhsuk-logo {
    color: $color_nhsuk-blue;
    margin-bottom: nhsuk-spacing(4);
  }

  mark {
    background: $nhsuk-focus-color;
    color: $nhsuk-focus-text-color;
    display: inline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-radius: 0.5em 0.5em 0.2em 0.2em;
    box-shadow:
      inset 0.5em 0 0 0 $color_nhsuk-white,
      inset -0.5em 0 0 0 $color_nhsuk-white,
      inset 0 0.2em 0 0 $color_nhsuk-white;

    &::before {
      content: "((";
    }

    &::after {
      content: "))";
    }
  }
}
